.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.btn {
    padding: 10px 15px;
    width: 100px;
}

.photos {
    display: flex;
    flex-flow: wrap;
    /* justify-content: center; */
}

.photo-container {
    margin: 3px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted;
}

.photo-image {
    padding: 10px 0;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
  
.spinner {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.spinner::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid black;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    content: '';
    animation: rotate 0.5s ease infinite;
}

.caption {
    font-size: 10px;
}